body { /*a fone será aplicada à todo o site, pois todo o contepudo está na tag body*/
	font-family: 'Montserrat', sans-serif;
}


header {
	background: #BBBBBB; /*cor cinza em hexadecimal, sistema rgb*/
	padding: 20px 0;     /*20px em cima e em baixode espaçamento interno*/ 
}

.caixa { /*classe que manibpula todo o cabeçalho, a div com os menus de navegãção*/
	position: relative; /*coloca a caixa com uma posição relativa à pagina como um todo*/
	width: 940px; /*largura padrão para a web*/
	margin: 0 auto; /*faz com que as margens se calculem sozinhas (dos lados) de acordo com a tela do dispositivo*/
}

nav {
	position: absolute; /*posiciona o elemento com relação absluta à página inteira (ou à outro elemento)*/
	top: 110px; /*distância com relação ao canto superior da página*/
	right: 0; /*zera a margem direita*/
}


nav li {
	display: inline; /*coloca os itens da lista lado a lado*/
	margin: 0 0 0 15px; /*espaçamento externo:  topo, direita, baixo, esquerda*/
}

nav a {
	text-transform: uppercase; /*coloca os links em maiúsculo*/
	color: #000000; /*cor preta em hexadecimal sistena rgb*/
	font-weight: bold; /*tecte em negrito*/
	font-size: 22px; /*tamanho da fonte*/
	text-decoration: none; /*elimina o sblinhado do link*/
}

nav a:hover { /*ação de passar o mouse sobre esse elemnto com hover*/
	color:#C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px; /* largufa fixa da lista de pordutos, largura padrão da wev*/
	margin: 0 auto; /* calcula as margens automaticamente oara os lados e zerado em cima e em baico**/
	padding: 50px 0; /*aumenta o espaçamento interno, para afastar do cabeçalho, sem mexer na posição externa*/
}

.produtos li {                /*classe seguida do elemento a ser manipulado*/
	display: inline-block;    /*para deixar os elementos alinhados ladoa lado*/
	text-align: center;       /*alinha o texto dos elementos ao centro*/
	width: 30%;				  /* divide os elementos em 1/3 do cumprimento total*/
	vertical-align: top;      /* alinha os elementos pela linha d ecima*/
	margin: 0 1.5%;			  /*espaçamento externo para separar os itens*/	
	padding: 30px 20px;		  /*espaçamento interno*/
	box-sizing: border-box;	  /*anula a soma dos espaçamentos(internos e externos)*/
	/*border-color: #000000;
	border-width: 2px;
	border-style: solid;*/
	border: 2px solid #000000; /*declaração unificada de borda, substitui as tres anteriores*/
	border-radius: 10px;
}

.produtos li:hover { /*ção quando passar o mouse sobre o elemento*/
	border-color: #C78C19;
}

.produtos li:active{ /*ação ao segurar o botão do mouse sobre o elemento*/
	border-color: #088C19;
}

.produtos li:hover h2 { /*para alterar o valor da fonte do elemento ao passra o mouse. deve ser feito dessa maneiro pois já foram estabelecidos valor para as fontes.*/
	font-size: 34px;
	color: #C78C19;
}


.produtos h2 { /*classe e item que se quer manipular*/
	font-size: 30px; /*formata título dos procutos*/
	font-weight: bold; /*deixa o título dos produtos em negrito*/
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0px;
}


.copy {
	color: #FFFFFF;
	font-size: 13px;
}

main { 
	/*removido estlido do main, para que possamos manipular os elementos contidos nele*/
}

form { /*margem do formulário todo (para desgrudar ele do header e do rodapé*/
	margin: 40px 0; 
}

form label, legend { /*alterada a tag de p para legend*/
	display: block; /*os elementos do form são in line por padrão, ajustar para block para ficar um em cada linha*/
	font-size: 20px;
	margin: 0 0 10px ; /*margens das etiquetas para desgrudar da caixa de inpur*/
}

.input-padrao { /*criamos essa classe para TIRAR essas configurações dos inputs radio*/
	display: block; /* coloca em linhas separadas*/
	margin: 0 0 20px; /*afasta as caixinhas da label abaixo*/
	padding: 10px 25px; /*aumenta o tamanho do campo*/
	width: 50%; /*aumenta a largura do campo*/
}

.checkbox {
margin: 20px 0;
}

.enviar {
	width: 30%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 0.5s all; /*velocidade de transição do elemento, do normal para as características descritas na class*/
	cursor: pointer; /*transforma cursor na mãozinha*/
}

.enviar:hover {
	background: red;
	transform: scale(1.2); /*propridade que aumenta a proporção do item quando clicado, em decimal nesse caso aumenta em 20%*/
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*ESTILO CSS DA PÁGINA INICIAL*/
/*Consideração:  quando queremos manipular estilo, trabalhamos com classes,
quando queremos manipular comportamento, trabalhamos com identificadores*/

.banner {
    width:100%;
    margin-bottom: 2em;
  }

.titulo-principal {
    text-align: center;
    font-size: 2em; /*unidade de medida que considera o tamanho base em pixels, ou seja, 2em = duas vezes a largura bas eem pixels.*/
    margin: 0 0 1em;
    clear: left; /*limpa o float usado em alfum elemento acima, no caso na imagem*/
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
} 

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em { /*tag que dá ênfise*/
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.beneficios {
    padding: 3em 0; /*espaçamento interno no bloco benefícios*/
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;   /*largura padrão da tela toda*/
    margin: 0 auto; /*margens automáticas para todo o contepudo beneficios*/
}

.lista-beneficios {
    width: 40%; /*largura de 40% da página para a lista de beneficios*/
    display: inline-block; /*alinhas beneficios e imagens na mesma linha*/
    vertical-align: top; /*coloca a lista no topo do elmento*/

}

.itens {
    line-height: 1.5; /*propriedade que cria espaçamento entre os itens de uma lista de texto*/
}

.itens:first-child { /*PSEUDO-CLASSE (vide anotações) :propriedade que destaca o primeiro elemento de uma lista*/
    font-weight: bold;
}

.itens:before {
    content: "★";
}

.imagembeneficios {
    width: 60%;
}

.mapa {
	padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.mapa {
    padding: 3em 0; /*espaçamento interno do mapa*/
}

.mapa p {
    margin: 0 0 2em;     /*margens do parágrafo do mapa*/
    text-align: center;	 /*centraliza texto do mapa*/	
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.video {
    width: 560px;
    margin: 2em auto;
}

/*
//////////////// PRECEDÊNCIA  DE SELETORES, IDENTIFICADORES, CLASSES E INLINE ////////////////////
Quanto mais específica for a seleção, mais prioridade ela terá: 
Exemplo d equal cor será aplicada à tag parágrafo, se acordo com sua declaração: ;
[FORÇA 1 TAG] - A cor aplicada na tag <p> será o vermelho
		 p {
			color red;
		}
********************************************************************************************
[FORÇA 2 TAG + TAG] - A cor aplicada será o azul, pois concatenamos as tags form + p (1+1)
	form p {
		color:  blue;
	}
********************************************************************************************
[FORÇA 10 CLASSE] - A cor aplicada será o yellow, pois a classe tem peso 10
.class {
	color:  yellow;
}
********************************************************************************************
[FORÇA 11 CLASSE +  TAG] - A cor aplicada será laranja, pois a classe tem peso 10 e a tag 1.
p.class {
	color: organge;
}
********************************************************************************************
[FORÇA 100 IDENTIFICADOR] - A cor aplicada será o rosa, pois o identificador é mais 
específico e tem amior precedência.
#identificador {
	color: pink;
}
********************************************************************************************
[FORÇA 1000 INLINE] - A cor aplicada será verde, a declaração da propriedade inline tem a precência máxima.
	<p style="color: green" (no elemento HTML)
********************************************************************************************
*/

/*
***************INPUTS PARA CELULAR************************
email, tel, number, password, date, datetime, month e search
Esses inputs ajudam na navegabilidade em dispositivos móveis

///////////////////// TABELAS  ///////////////////////////

Toda tabela deverá estar dentro da tag <table>
<thead> - a linha de cabelho da tabela deve estar em thead
<th> - é a tag da linha de caebçalho, em vez de tr
<tbody> todo o corpo da tabela, as tags td e tr
<tr> - table row (quantidade de linhas de uma tabela)
<td> - table data (quantidade de células de uma linha)
<tfoot> o rodapé da tabela.
*colsoan - agrupa as células de uma tabela em x vezes. e.g. <td colspan = "5">Rio de Janeiro </td>

//////////////////  PSEUDO ELEMENTOS  ////////////////////////

Sempre usamos : para indicar um pseudo elemento
Nesse exemplo, vamos deixar o primeiro elemento em negrito
.itens: first-child {
	font-weight:  bold;
	}

Já aqui, aplicamos ao último elemento, não interessa saber quantos elementos tem a lista
.itens: last-child {
	font-weight:  bold;
	}

Nesse exemplo, alteramos o quarto ítem da lista para negrito
.itens: nth-child(4) {
	font-weight:  bold;
	}

Nesse exemplo, todos os elemtnos pares para negrito
.itens: nth-child(2n) {
	font-weight:  bold;
	}

O pseudo elemento before, adiciona qualquer coisa antes de todos os ítens, sem precisar percorrer um a um
.itens:before {
    content: "★";
}

>>>>>> OUTROS EXEMPLOS >>>>>>>>>>>>>>>

Deixa todas as primeiras letras da classe em negrito
.titulo-principal: first-letter{
	font-wieght:  bold;
}

Deixa todas a primeira linha de toda tag p em itálico.
.p: first-line {
	font-style: italic;
}




////////////////// DEGRADÊS ///////////////////////////

Aqui, aplicamos o degradê no fundo do elemento mapa. O linear começa de cima para baixo.
.mapa {
	padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);


Aqui, teremos um gradiente linear (de cima para baixo) da lista de cores entre parenteses
.mapa {
	padding: 3em 0;
    background: linear-gradient(orange, blue, red, black);


Já nesse caso, temos o gradiente com uma inclinação, indicada como primeiro propriedade
.mapa {
	padding: 3em 0;
    background: linear-gradient(45deg, orange, blue, red, black);


Agora, podemos estipular a proporção das cores no gradiente
.mapa {
	padding: 3em 0;
    background: linear-gradient(90deg, orange 50%, blue, red, black);


Podemos também, fazer um gradiente circular, nesse caso não existe grau de inclinação
.mapa {
	padding: 3em 0;
    background: radial-gradient(orange 50%, blue, red, black);


*/